body{

  font-family: sans-serif;

}
h2 {
  margin-bottom: 10px;
}
.container{
  border: 1px solid rgb(158, 156, 156);
  margin: 0 auto;
  padding: 30px;
  width: 500px;
}
summary{
  padding: 20px;
  list-style-type: none;
  border-bottom: 1px solid rgb(233, 228, 228);
}
i{
  float: right;
}
p{
  margin:20px;
  cursor: pointer;
}
